{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main>
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a> 
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{mealplan.owner | default_if_none:"Unknown" }}</h2>
    <p>
      To be eaten on {{ mealplan.date }} |
    </p>
    <h2>Recipes</h2>
    <ol>
      {% for recipe in mealplan.recipes.all %}
        <li>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
        </li>
      {% endfor %}
    </ol>
  </main>
{% endblock content %}