{% extends 'pagination.html' %}

{% block content %}
  <main>
    {% for meal_plan in mealplan_list %}
      <div>
        <h2>
          <a href= "{% url 'meal_plan_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
        </h2>
      </div>
    {% endfor %}
  </main>
{% endblock content %}